*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 8px;
    border: 1px solid black;
    max-width: 70vw;
}

header{
    border: 1px solid black;
    height: 40px;
    color: whitesmoke;
    background-color: #194d5d;
}

h1{
    text-align: center;
    font-size: xx-large;
}
header div{
    height: 100%;
}

main{
    padding-top: 15px;
    padding-bottom: 15px;
}

.codigoBarrasoQr{
    display: flex;
    justify-content: center;
}

#codigo{
    display: flex;
    align-items: center;
    width: 100%;
}

.material-symbols-outlined {
    height: 100%;
    font-variation-settings:'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 48;
    padding-top: 7px;
}

.tamaño-pequeño{
    min-width: 300px;
}
.tamaño-mediano{
    min-width: 450px;
}
.tamaño-grande{
    min-width: 580px;
}
.form-label{
    font-size: small;
    margin: 0;
    padding-top: 6px;
    text-align:end;
}